<!-- <app-weather-widget-main></app-weather-widget-main>
<app-todo-list></app-todo-list> -->

<mat-toolbar>
    &nbsp;&nbsp;
     <span>My App</span>
     &nbsp;&nbsp;
     &nbsp;&nbsp;
    
   
     <div class="example-button-row">
       <button mat-button color="primary" routerLink="main/weather/report">Weather Report</button>
       <button mat-button color="accent" routerLink="main/todo/result">To-Do List</button>
       <button mat-button color="warn">Stop Watch</button>
      
       <a mat-button href="https://www.google.com/" target="_blank">Link</a>
     </div>
   
     <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>share</mat-icon>
     </button>
   </mat-toolbar>
<router-outlet></router-outlet>