.marginTop{
    margin-top: 10px;
}
.bgcolor{
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    height: 250px;
    background: cadetblue;
}


.my-class{
    width: 50px!important;
    height: 35px;
    min-width: 10px!important;
}
.buttonSpace{
    margin-left: 10px;
}

.searchInput{
    width: 400px;
}