<div class="row marginTop">
    <div class="col-3 d-none col-md-3 d-md-block "></div>
    <div >
        <input type="text" class="searchInput" #data>



        <button mat-button (click)="addData(data.value)" class="btn btn-light text-success">Add Data</button>
        <div class="col-1"></div>
    </div>

    <div class="col-3 d-none col-md-3 d-md-block"></div>

</div>

<mat-nav-list>

    <a mat-list-item *ngFor="let item of list">

        <mat-checkbox class="example-margin">{{item.name}}</mat-checkbox>
        <button mat-button (click)="removeTask(item.id)" 
        class="btn btn-danger buttonSpace my-class" ><i class="fa fa-trash" aria-hidden="true"></i></button>
        
    </a>
</mat-nav-list>




